---
layout: default
title: VRML
---

<header id="head" class="secondary"></header>

<div class="container">

    <div class="row">
        <div class="col-md-12 col-sm-6 highlight">

            <h1>VRML</h1>

            <h2>Author</h2>

            <p>The VRML interface in Dalton was programmed by Vebj&oslash;rn Bakken</p>

            <h2>Description</h2>

            <p>Visualizing geometries and normal modes (as static vectors) using
            the VRML specification. Dalton outputs wrl-files, and these 3D models
            of the molecule can be viewed, rotated and zoomed using any VRML
            browser or plugin.</p>

            <h2>Requirements</h2>

            <ul>
                <li><a href="http://www.web3d.org/vrml/vrml.htm" target="_blank">A
                VRML browser or plugin</a> (available for most platforms)
            </ul>

            <h2>Usage</h2>

            <p>
                The VRML visualization is controlled through
                certain keywords in the
                <tt>*OPTIMIZE</tt> module of Dalton, please see the manual for
                further details.
            </p>

            <p>
                If you're using the <tt>dalton</tt> script to run calculations, use
                the "-v" option to copy all VRML files (<tt>*.wrl</tt>) from the
                temporary directory to working directory after the calculation is
                finished.
            </p>

            <h2>Examples</h2>

            <p>VRML models of a couple of molecules (you'll need a VRML
            browser/plugin to view the wrl-files):</p>

            <table border=0>
            <td align=center valign=middle><a href="{{ site.baseurl }}/tools/vrml/nh2conh2.wrl"><img
            src="nh2conh2.gif"></a>
            <td align=center valign=middle><a href="{{ site.baseurl }}/tools/vrml/c6h6.wrl"><img
            src="c6h6.gif"></a>
            <td align=center valign=middle><a href="{{ site.baseurl }}/tools/vrml/ch3cooh.wrl"><img
            src="ch3cooh.gif"></a>
            <tr>
            <td align=center valign=top>NH<sub>2</sub>CONH<sub>2</sub>
            <td align=center valign=top>C<sub>6</sub>H<sub>6</sub>
            <td align=center valign=top>CH<sub>3</sub>COOH
            </table>

            <h2>Download</h2>

            <p>No downloads, the VRML module is part of the regular Dalton
            distribution.</p>

        </div>
    </div>
</div>
