---
layout: default
title: Documentation
---

<header id="head" class="secondary"></header>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6 highlight">

            <h2>How to get help</h2>

            <p>
            The Dalton and LSDalton programs are distributed for free and without any guarantee of
            reliability, accuracy, or suitability for any particular purpose. No obligation
            to provide technical or any other support is expressed or implied.
            As time allows, the developers will attempt to answer
            <a href="https://gitlab.com/dalton/user-support" target="_blank">support issues</a>
            and bug reports on the
            <a href="https://gitlab.com/dalton/dalton" target="_blank">Dalton</a> and
            <a href="https://gitlab.com/dalton/lsdalton" target="_blank">LSDalton</a> GitLab source repositories.
            For bug reports, specific and detailed information, with example
            inputs, would be appreciated.
            </p>

            <h3>Where should you post?</h3>

            <ul>
                <li> How do I ...? <a href="https://gitlab.com/dalton/user-support/-/issues/new" target="_blank">Create a support issue</a>
                <li> I got this error, why? <a href="https://gitlab.com/dalton/user-support/-/issues/new" target="_blank">Create a support issue</a>
                <li> I got this error and I'm sure it's a bug. File a <a href="https://gitlab.com/dalton/dalton/-/issues/new" target="_blank">Dalton</a> or <a href="https://gitlab.com/dalton/lsdalton/-/issues/new" target="_blank">LSDalton</a> GitLab issue
                <li> Can I open a discussion on this bit of code? File a <a href="https://gitlab.com/dalton/dalton/-/issues/new" target="_blank">Dalton</a> or <a href="https://gitlab.com/dalton/lsdalton/-/issues/new" target="_blank">LSDalton</a> GitLab issue
                <li> I have an idea/request and a plan. File a <a href="https://gitlab.com/dalton/dalton/-/issues/new" target="_blank">Dalton</a> or <a href="https://gitlab.com/dalton/lsdalton/-/issues/new" target="_blank">LSDalton</a> GitLab issue
                <li> I have an idea/request. <a href="https://gitlab.com/dalton/user-support/-/issues/new" target="_blank">Create a support issue</a>
                <li> Why do you ...? <a href="https://gitlab.com/dalton/user-support/-/issues/new" target="_blank">Create a support issue</a>
                <li> When will you ...? <a href="https://gitlab.com/dalton/user-support/-/issues/new" target="_blank">Create a support issue</a>
                <li> I have experience that can improve the build
                  documentation. Open a <a href="https://gitlab.com/dalton/dalton/-/merge_requests/new" target="_blank">Dalton</a> or
                  <a href="https://gitlab.com/dalton/lsdalton/-/merge_requests/new" target="_blank">LSDalton</a> merge request on GitLab
            </ul>

            <h2>Manuals</h2>

            <ul>
                <li> <a href="{{ site.baseurl }}/manuals/dalton2020manual.pdf">Dalton 2020</a>
                <li> <a href="{{ site.baseurl }}/manuals/lsdalton2020manual.pdf">LSDalton 2020</a>
            </ul>

            <p>
                The documentation is also included with the distribution in Latex format.
            </p>

            <h2>Manuals for past versions</h2>
            <ul>
                <li> <a href="{{ site.baseurl }}/manuals/dalton2018manual.pdf">Dalton 2018</a>
                <li> <a href="{{ site.baseurl }}/manuals/lsdalton2018manual.pdf">LSDalton 2018</a>
                <li> <a href="{{ site.baseurl }}/manuals/dalton2016manual.pdf">Dalton 2016</a>
                <li> <a href="{{ site.baseurl }}/manuals/lsdalton2016manual.pdf">LSDalton 2016</a>
                <li> <a href="{{ site.baseurl }}/manuals/dalton2015manual.pdf">Dalton 2015</a>
                <li> <a href="{{ site.baseurl }}/manuals/lsdalton2015manual.pdf">LSDalton 2015</a>
                <li> <a href="{{ site.baseurl }}/manuals/dalton2013manual.pdf">Dalton 2013</a>
                <li> <a href="{{ site.baseurl }}/manuals/lsdalton2013manual.pdf">LSDalton 2013</a>
                <li> <a href="{{ site.baseurl }}/manuals/dalton2011manual.pdf">Dalton 2011</a>
                <li> <a href="{{ site.baseurl }}/manuals/lsdalton2011manual.pdf">LSDalton 2011</a>
            </ul>

            <h2>PhD dissertations</h2>

            PhD dissertations from LSDalton developers:
            <ul>
               <li> Lea Th&oslash;gersen: <a href="{{ site.baseurl }}/dissertations/l_thoergersen.pdf">"Optimization of Densities in Hartree-Fock and Density-functional Theory Atomic Orbital Based Response Theory and Benchmarking for Radicals" - 2005</a> (2.0 MB, pdf format)
               <li> Thomas Kj&aelig;rgaard: <a href="{{ site.baseurl }}/dissertations/t_kjaergaard.pdf">"Linear Scaling Wave Function Optimization and Molecular Properties" - 2010</a> (1.5 MB, pdf format)
               <li> Joanna Kauczor: <a href="{{ site.baseurl }}/dissertations/j_kauczor.pdf">"Damped response theory" - 2010</a> (3.8 MB, pdf format)
               <li> Kasper Kristensen: <a href="{{ site.baseurl }}/dissertations/k_kristensen.pdf">"Self-Consistent Field Response Theory and Coupled-Cluster Theory" - 2011</a> (5.1 MB, pdf format)
               <li> Patrick Ettenhuber: <a href="{{ site.baseurl }}/dissertations/p_ettenhuber.pdf">"Size matters: Enabling large-scale coupled cluster calculations" - 2015</a> (9.2 MB, pdf format)
            </ul>

            <h2>Old user forum</h2>

            <p>
                There is a <a href="http://forum.daltonprogram.org" target="_blank">user forum</a> that
                that remains accessible but can only be read.
                Instead users can create <a href="https://gitlab.com/dalton/user-support" target="_blank">support issues</a>.
            </p>

            <h2>Old mailing list</h2>

            <p>
                Until the release of Dalton2013 November 2013, there were a mailing list available.
                The mailing list was meant as forum for exchange of experiences
                between users of the Dalton2011 programs.
                The mailing list is no longer supported.
            </p>

            <p>
                A <a href="https://sympa.uio.no/kjemi.uio.no/info/dalton-users" target="_blank">message archive of the postings</a> to the
                dalton-users@kjemi.uio.no mailing list from before the creation of the forum
                is still available to subscribers.
                You must login on sympa.uio.no in order to read the archives.
            </p>

        </div>
    </div>
</div>
