---
layout: default
title: Tools
permalink: /tools/
---

<header id="head" class="secondary"></header>

<div class="container">

    <h1>Dalton Project</h1>
    <div class="row">
        <div class="col-md-12 col-sm-6 highlight">
            <p>
                The Dalton Project provides a uniform platform access to the underlying Dalton and LSDalton software.
                It is written in Python and defines a means for software components to interact and
                for resulting data to be extracted, analyzed, and visualized.
                It can already now be used to run pre-defined typical calculations with Dalton and LSDalton and
                post-process the results, for example for plots of calculated UV/vis or two-photon absorption spectra.
                See all the current possibilities on
                <a href="https://daltonproject.readthedocs.io/en/latest/" target="_blank">Dalton Project home page</a>.
            </p>

            <p>
                The Dalton Project development started late 2019,
                and many more features are expected to be added in 2021 and beyond.

                Citation: </br>
                Jógvan Magnus Haugaard Olsen, et al.,
                <I >Dalton Project: A Python platform for molecular- and electronic-structure simulations
                of complex systems.</I>
                <a href="https://doi.org/10.1063/1.5144298" target="_blank"> J. Chem. Phys. 152, 214115 (2020)</a>
            </p>
        </div>
    </div>

    <h1>Contributed tools</h1>

    <div class="row">
        <div class="col-md-12 col-sm-6 highlight">

            <p>
                We would like to build up a library of pre- and post-processing
                tools for Dalton. If you have scripts or programs that you think may
                be of general interest to the Dalton-community, do not hesitate to
                place them on the <a href="http://forum.daltonprogram.org" target="_blank">user forum</a>!
                Please include documentation that indicates what the program/script
                does and how to use them. We reserve the right to decide whether the
                contribution should stay on the forum.
            </p>

            <p>
                No support will be given for these tools, and the Dalton
                administrators accept no responsibility for their performance,
                correctness or usefulness.
            </p>

            <h2>Visualization</h2>
            <ul>
                <li><a href="{{ site.baseurl }}/tools/dal2pov/">dal2pov</a>: A Dalton interface to POV-Ray
                <li><a href="{{ site.baseurl }}/tools/vrml/">VRML</a>: Dalton built-in functionality for visualization using VRML.
            </ul>

            <h2>External control of the calculation of vibrational properties using Dalton</h2>
            <ul>
                <li><a href="http://www.reiher.ethz.ch/software/snf" target="_blank">SNF - the program for the quantum chemical calculation of vibrational spectra</a>:
                A program for quantum chemical calculation of vibrational spectra.
                J. Neugebauer, M. Reiher, C. Kind, B. A. Hess, J. Comput. Chem. 23 2002, 895-910.
            </ul>

        </div>
    </div>
</div>
