---
layout: default
title: User Support
---

<header id="head" class="secondary"></header>

<div class="container">

    <div class="row">
        <div class="col-md-12 col-sm-6 highlight">
            <h2>The <a href="http://forum.daltonprogram.org">Dalton/LSDalton forum</a> is not used anymore but remains accessible. Instead users can create <a href="https://gitlab.com/dalton/user-support">support issues</a>.</h2>
        </div>
    </div>
</div>
