<footer id="footer" class="top-space">
    <div class="footer2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            {% for item in site.data.nav.main %}
                                {% if item.url contains "http" %}
                                    <a href="{{ item.url }}" target="_blank">{{ item.text }}</a>
                                {% else %}
                                    <a href="{{ site.baseurl }}{{ item.url }}">{{ item.text }}</a>
                                {% endif %}
                                {% if forloop.last %}
                                {% else %}
                                    |
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2015-2023, Dalton/LSDalton developers.
                            Bootstrap template based on
                            <a href="http://www.gettemplate.com/demo/progressus/" target="_blank">Progressus</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
